.classpath
.project
.settings/org.eclipse.jdt.core.prefs
data/README
distribution/SimpleHTTPServer-1/README.md
distribution/SimpleHTTPServer-1/download/SimpleHTTPServer-1.txt
distribution/SimpleHTTPServer-1/download/SimpleHTTPServer.txt
distribution/SimpleHTTPServer-1/examples/ExternalCss/data/hello.html
lib/core.jar
resources/README.md
resources/build.properties
resources/build.xml
resources/code/ExampleTaglet.class
resources/code/ExampleTaglet.java
resources/code/ant-contrib-1.0b3.jar
resources/code/doc.sh
resources/library.properties
resources/stylesheet.css
web/index.html
web/stylesheet.css
